body {
  /*background-color: #CEEFBE;*/
  /*background-color: #b6d8e7;*/
  background-color: #d5ebff;

  color: #2D9B51;
}

a {
  text-decoration: none;   
}

input {
  outline: none; 
  border: none;
}

li, button {
  cursor: pointer;
  list-style-type: none;     
  outline: none; 
  border: none;
}

li {
  padding: 0;
}

.warn {
  color: #E33B35;
  font-weight: bold;
}

li.chosen {
  color: red;
}

#projectsMenu, #projectsListMenu {
  display: flex;
}

#projectsMenu ul, #projectsListMenu ul {
  display: flex;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 2px solid #2D9B51;
  margin-bottom: 20px;
}

.links {
  background-color: #5AAA6E;
  display: flex;
  margin: 0; 
  padding: 0;
}

#logo {
  display: flex;
  align-self: center;
  font: 38px Arial;
  padding: 0;
  color: black;
}

#logo a:visited {
  color: black;
}

.links li {
  background-color: #5AAA6E;
  border: 4px outset #7CC59A;
  color: #19570F;
  font: 32px Arial;
}

.links li:hover {
  background-color: #49C56C;
  border: 4px inset #7CC59A;
}

.links li a {
  padding: 0 30px;
  color: #19570F;
}

.links li button {
  background-color: inherit;
  font: 32px Arial;
  color: #19570F;
  border: none;
  padding: 0 30px;
}


/*TODO: crooked due to different price values*/

#projectsItem, #projectsItem div {
  display: flex;
}


#projectsItem #customCheckbox {
  padding: 0;
  width: 10px;
  height: 9.631px;
  margin: 0 20px;
  border-radius: 90%;
  cursor: pointer;
  border: 1px solid #186755;
  display: flex;
  align-self: center;
}

#projectsItem #customCheckbox.checked {
  background-color: #6ADE17;
}

#projectsItem #customCheckbox.unchecked {
  background-color: inherit;
}

#projectsItem #points {
  width: 70px;
  display: flex;
  justify-content: center;
}

#projectsItem {  
  /*background-color: #4FC4B4;*/
  background-color: white;
  /*color: #186755; */
  color: #424242;
  /*#186755*/
  border: 1px solid #424242;
  border-radius: 6px;
  font: 20px Arial;
  width: 650px;
  margin-bottom: 20px;
}

#loginBtn, #signupBtn {
  font-size: 26px;
  padding: 0 10px;
  color: white;
  background-color: #2D9B51;  
  border-radius: 10px;
}

#loginBtn:hover, #signupBtn:hover {
  color: #19570F;
  background-color: #5AAA6E; 
}

#about {
  font: 24px Arial;
}

input {
  border: 3px solid #7CC59A;
  font: 24px Arial;
  width: 20%;  
  margin-bottom: 20px;
}

.lpForm {
  display: flex;
  flex-direction: column;
  font: 24px Arial;
  font-weight: bold;
}

.lpForm p {
  margin-top: 0;
}

#canlogin {
  font-size: 18px;
  font-weight: normal;
}

#projectLabel {
  width: 10px;
}

#projectLine {
  width: 80%;
  margin-right: 30px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;  
}

.white {
  background-color: white;  
}

select #label {
  width: 30px;
  height: 40px;
}