body {
  background-color: #a0e4ef;
  background-image:
    repeating-linear-gradient(
      160deg,
      #CAFBFC,
      #1470C8
    );
  background:
    repeating-linear-gradient(
      160deg,
      #CAFBFC,
      #1470C8
    );
}

#root {
  position: absolute;  
  color: #767676;
  top: 0;
  left: 0;
  width: 100%;
  background: inherit;
  min-height: 100%;
}

#appContent {
  margin-left: 10px;
  margin-top: 65px;
  display: flex;
 /* flex-direction: row;
  justify-content: space-between;*/
}

#promoShort {
  background-color: #175496;
  color: white;
  /*margin-right: 10px;*/
  margin-top: 0px; 
  height: 100%;
  position: fixed;
  right: 0;
  top: 15%;
  display: none;
}

a {
  text-decoration: none;   
}

input {
  outline: none; 
}

textarea {
  resize: none;
  outline: none; 
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

li, button {
  cursor: pointer;
  list-style-type: none;     
  outline: none; 
  border: none;
}

li {
  padding: 0;
}

.warn {
  color: #E33B35;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}

#sOk {
  white-space: pre;
}

#sOk #toLogin {
  color: #249f2f;
}

li.chosen {
  color: red;
}

#projectsMenu, #projectsListMenu {
  display: flex;
}

#projectsMenu ul, #projectsListMenu ul {
  display: flex;
}

#projectsList {
  margin-top: 20px;
  margin-bottom: 20px;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 2px solid #2D9B51;
  background-color: #5aaa6e;
  margin-bottom: 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.links {
  background-color: #5AAA6E;
  display: flex;
  margin: 0; 
  padding: 0;
}

#logo {
  display: flex;
  align-self: center;
  font: 38px Arial;
  padding: 0;
  color: black;
}

#logo a:visited {
  color: black;
}

.links li {
  background-color: #5AAA6E;
  border: 4px outset #7CC59A;
  color: #19570F;
  font: 32px Arial;
}

.links li:hover {
  background-color: #49C56C;
  border: 4px inset #7CC59A;
}

.links li a {
  padding: 0 30px;
  color: #19570F;
}

.links li button {
  background-color: inherit;
  font: 32px Arial;
  color: #19570F;
  border: none;
  padding: 0 30px;
}


/*TODO: crooked due to different price values*/

#projectsItem, #projectsItem div, 
#tasksItem, #tasksItem div {
  display: flex;
}

#tasksItem #points {
  width: 60px;
  justify-content: center;
  margin-right: 20px;
}

/*#editingProject img {
  width: 20px;
  height: 20px;
}*/

#projectsItem, #tasksItem {  
  /*background-color: #4FC4B4;*/
  background-color: white;
  /*color: #186755; */
  color: #424242;
  /*#186755*/
  border: 1px solid #424242;
  border-radius: 6px;
  font: 20px Arial;
  width: 650px;
  margin-top: 20px;
}

#pBtn {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

#loginBtn, #signupBtn {
  font-size: 20px;
  width: 100px;
  /*padding: 2px 12px;*/
  color: white;
  background-color: #249f2f;  
  border-radius: 5px;
  margin-bottom: 7px;
}

#signupBtn {
  background-color: #f48213;
}

#signupBtn:hover {
  background-color: #ff9024;
}

#loginBtn:hover {
  color: white;
  background-color: #17c126; 
}

#about {
  font: 24px Arial;
}

input {
  border: 1px ridge #cdcfd2;
  border-radius: 5px;
  font: 18px Arial;  
  margin-bottom: 20px;
  background-color: white;
  padding-left: 10px;
}

div .authForms {
  display: flex;
  justify-content: center;
}

.lpForm {
  width: 240px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  font: 24px Arial;
  /*font-weight: bold;*/
  margin-top: 160px;
  padding: 15px 20px;
  border: 2px outset #A8ADB3;
  border-radius: 6px;
  /*background-color: #97defe;*/
  background-color: white;
}

#password, #login, #spassword, #slogin {
  margin-top: 5px;
}

.lpForm p {
  margin-top: 0;
}

#projectLabel {
  width: 10px;
  margin: 0 10px 0 20px;
  height: inherit;
}

#projectName {
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  border-radius: 20px;
  margin-bottom: 20px;
}

#projectName h1 {
  margin: 0 10px;
}

#projectLine, #taskLine {
  width: 520px;
  margin-right: 30px;
}

#projectLine {
  cursor: pointer;
}
/*#selectedLabel {
  border: 2px solid black;
}*/

/*-----ADD NEW PROJECT EXPAND---------*/

#addNewForm, #editForm {
  height: 0;
  width: 650px; 
  border: 1px solid #424242;
  border-top: none;
  border-bottom: none;
  background-color: white;
  border-radius: 12px;
  display: flex;
  transition: height 0.2s linear;
  overflow: hidden;
}

/*#editForm {
  height: 76px;
}*/

#lineExpand {  
  background-color: white;
  color: #424242;
  border: 1px solid #424242;
  border-radius: 6px;
  font: 24px Arial;
  width: 650px;  
  display: flex;
  justify-content: center;
}

#expand {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #69AFBA;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/*-----ADD NEW PROJECT AND TASK---------*/

#labelForm, #editLabelForm {
  display: flex;
  width: 248px;
  height: 26px;
  align-items: center;
  font: 18px Arial;
  /*border: 1px solid black;*/
  /*padding: 4px;*/
}

#newName, #editName {
  margin: 5px 0 5px 5px;
  width: 238px;
  height: 22px; 
}

#newPoints {
  width: 70px;
  height: 16px;
  margin-right: 6px;
}

#addNewOpt, #editOpt {
  display: flex;
  height: 26px;
  margin: 5px 0 5px 5px;
}

#addNewOpt button, #editOpt button {
  height: 26px;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  margin-right: 6px;
  display: flex;
}

#addNewOpt #buttons {
  margin-left: 30px;
  display: flex;
}

#editButtons {
  margin-left: 6px;
  display: flex;
}

#options div, #editOptions div {
  width: 13px;
  height: 15px; 
}

#options div:first-child,
#editOptions div:first-child {
  margin-left: 4px;
}

#options div:last-child,
#editOptions div:last-child {
  margin-right: 4px;
}

#chosen, #editChosen {
  margin-left: 10px;
  padding: 3px;
  width: 18px;
  height: 18px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

#chosenColor, #editChosenColor {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  border: 1px solid black;
}

#options, #editOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 0;
  height: 24px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.violet {
  background-color: #EE82EE;
}

.gray {
  background-color: gray;
}

.brown {
  background-color: #A52A2A;
}
/*-----PROMOTION ITEM---------*/

#promotionItem {
  border: 1px solid black;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 10px;
}

#exCircle {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  border: 6px solid #ef84da;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#inCircle {
  width: 74px;
  height: 74px;
  border-radius: 50px;
  /*border: 3px solid #ef84da;*/
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}

#square {
  background-color: #ef84da;
  width: 80px;
  /*min-height: 0;*/
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#percents {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 20px;
  left: 12px;
  top: 27px;
  z-index: 2;
  color: white;
  font: 20px Arial;
}

#editPromoName {
  display: none;
  width: 140px;
}

#editItem {
  padding: 0 4px;
  background-color: inherit;
  margin-right: 70px;
}

#editItem:hover{
  background-color: #decfcf;
}

#editItem.editing{
  background-color: #decfcf;
}

.fa {
  cursor: pointer;
}

#promoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*i.fa.fa-pencil-square-o:hover {

}*/
